<div class="container-fluid" ng-controller="LoginCtrl">
    <nav class="navbar navbar-default navbar-fixed-top"></nav>
    <div class="row" style="margin-top:190px;">
        <div class="col-md-2 col-md-offset-5">
            <center>
                <img src="/install/images/logo_technopro_small.gif"> |  <img src="/install/images/clock.png">
                <h1 style="font-size:34pt;"><b>CW</b>installers</h1></center>
                <form class="form-horizontal" style="margin-top:50px;" ng-submit="submit()">
                  <fieldset>
                    <div class="form-group">
                      <input class="form-control" ng-model="username" type="text" value="" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input class="form-control" ng-model="password" type="password" value="" placeholder="Password">
                     </div>
                    <input type="submit" value="Log in" class="form-control btn btn-primary btn-lg btn-block">
                  </fieldset>

                </form>
        </div>
    </div>

    </div>